
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
	Editar
    <form action="/update" method="POST">
		  <input type="hidden" value="<%= client._id %>" name="_id">
		  <input type="text" placeholder="Nome" value="<%= client.name %>" name="name">
		  <input type="text" placeholder="Email" value="<%= client.email %>" name="email">
		  <button type="submit">Submit</button>
	</form>
</body>
</html>
