<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Seje bem vindo ao Blogging</h1>
                    <hr class="small">
                    <span class="subheading">Crie e gerencie usuários e posts</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <a href="#/admin/new-user">
        <div class="thumbnail text-center" style="color: #666; background: #fafafa; min-height: 264px;; padding: 15%;">
          <i class="fa fa-user-plus fa-5x"></i>
            <h3>Novo Usuário</h3>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="#/admin/new-user">
        <div class="thumbnail text-center" style="color: #666; background: #fafafa; min-height: 264px;; padding: 15%;">
          <i class="fa fa-user-plus fa-5x"></i>
            <h3>Editar deletar usuários</h3>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="#/admin/new-post">
        <div class="thumbnail text-center" style="color: #666; background: #fafafa; min-height: 264px; padding: 15%;">
          <i class="fa fa-file-text fa-5x"></i>
          <h3>Novo Post</h3>
        </div>
      </a>
    </div>
  <div class="col-md-3">
    <a href="#/admin/new-post">
      <div class="thumbnail text-center" style="color: #666; background: #fafafa; min-height: 264px; padding: 15%;">
        <i class="fa fa-file-text fa-5x"></i>
        <h3>Editar e deletar posts</h3>
      </div>
    </a>
  </div>
</div>
</div>
</div>
