<div class="post-preview">
  <a href="post.html">
    <div class="col-md-3">
      <img class="img-responsive img-rounded" src="img/post-sample-image.jpg" alt="">
    </div>
    <div class="col-md-8">
      <h2 class="post-title">
        Man must explore, and this is exploration at its greatest
      </h2>
      <h3 class="post-subtitle" style="color:#777; margin:10px 0 20px 0;">
        Problems look mighty small from 150 miles up
      </h3>
    </div>
  </a>
  <p class="post-meta">Publicado por <a href="#">USÚARIO CADASTRADO</a> on September 24, 2014</p>
  <hr>
</div>
<!-- Pager -->
<ul class="pager">
  <li class="next">
    <a href="#">Mais Antigos &rarr;</a>
  </li>
</ul>
