<div class="post-preview" ng-repeat= "post in $ctrl.posts | orderBy : -dateCreate">
  <a href="#/single/{{post._id}}">
    <div class="col-md-3">
      <img class="img-responsive img-rounded" ng-src="{{post.image}}" alt="">
    </div>
    <div class="col-md-8">
      <h2 class="post-title">
        {{post.title}}
      </h2>
      <h3 class="post-subtitle" style="color:#777; margin:10px 0 20px 0;">
      {{post.description | limitTo: 40}}...
      </h3>
    </div>
  </a>
  <p class="post-meta">Publicado por: <a href="{{post.user._id}}">{{post.user.name}}</a> {{post.dateCreate | date}}</p>
  <hr>
</div>
<!-- Pager -->
<ul class="pager">
  <li class="next">
    <a href="#">Mais Antigos &rarr;</a>
  </li>
</ul>
