<header class="intro-header" style="background-image: url('{{$ctrl.singlePosts.image}}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{$ctrl.singlePosts.title}}</h1>
                    <h2 class="subheading">{{$ctrl.singlePosts.description}}</h2>
                    <span class="meta">Postado por: <a href="#">{{$ctrl.singlePosts.user.name}}</a> {{$ctrl.singlePosts.dateCreate | date}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div ng-bind-html="$ctrl.singlePosts.content"></div>
                <h3>Compartilhe:</h3>
                <!-- AddToAny BEGIN -->
                <div>
                <a href="https://www.addtoany.com/share?linkurl=http%3A%2F%2Flocalhost%3A5000&amp;linkname={{$ctrl.singlePosts._id}}" target="_blank"><img src="https://static.addtoany.com/buttons/a2a.svg" width="32" height="32"></a>
                <a href="https://www.addtoany.com/add_to/facebook?linkurl=http%3A%2F%2Flocalhost%3A5000&amp;linkname={{$ctrl.singlePosts._id}}" target="_blank"><img src="https://static.addtoany.com/buttons/facebook.svg" width="32" height="32"></a>
                <a href="https://www.addtoany.com/add_to/twitter?linkurl=http%3A%2F%2Flocalhost%3A5000&amp;linkname={{$ctrl.singlePosts._id}}" target="_blank"><img src="https://static.addtoany.com/buttons/twitter.svg" width="32" height="32"></a>
                <a href="https://www.addtoany.com/add_to/google_plus?linkurl=http%3A%2F%2Flocalhost%3A5000&amp;linkname={{$ctrl.singlePosts._id}}" target="_blank"><img src="https://static.addtoany.com/buttons/google_plus.svg" width="32" height="32"></a>
                <a href="https://www.addtoany.com/add_to/whatsapp?linkurl=http%3A%2F%2Flocalhost%3A5000&amp;linkname={{$ctrl.singlePosts._id}}" target="_blank"><img src="https://static.addtoany.com/buttons/whatsapp.svg" width="32" height="32"></a>
                <a href="https://www.addtoany.com/add_to/email?linkurl=http%3A%2F%2Flocalhost%3A5000&amp;linkname={{$ctrl.singlePosts._id}}" target="_blank"><img src="https://static.addtoany.com/buttons/email.svg" width="32" height="32"></a>
                <a href="https://www.addtoany.com/add_to/linkedin?linkurl=http%3A%2F%2Flocalhost%3A5000&amp;linkname={{$ctrl.singlePosts._id}}" target="_blank"><img src="https://static.addtoany.com/buttons/linkedin.svg" width="32" height="32"></a>
                <a href="https://www.addtoany.com/add_to/copy_link?linkurl=http%3A%2F%2Flocalhost%3A5000&amp;linkname={{$ctrl.singlePosts._id}}" target="_blank"><img src="https://static.addtoany.com/buttons/link.svg" width="32" height="32"></a>
                </div>
                <!-- AddToAny END -->
            </div>
        </div>
    </div>
    </article>
<div class="coments">
  <div class="container">
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</div>
